    /*********************************************spolecne (globalni) *******************************************************/
    html{
        scroll-behavior: smooth;
    }
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
        outline: none;
        border-bottom-style: none;
        overflow-x: hidden;
    }
    .container{
        margin-right: auto;
        margin-left: auto;
        max-width: 1750px;
        width: 96%;
    }
    a{
        text-decoration: none;
        color: white;
    }
    button{
        outline: none;
        text-decoration: none;
        color: white;
        cursor: pointer;
        border: none;
        background-color: transparent;
    }
    h3{
        font-family: 'Architects Daughter', cursive;
        font-family: 'Rubik', sans-serif;
        font-size: 42px;
        font-weight: bold;
        color: white;
        letter-spacing: 1.3px;
        word-spacing: 1.6px;
        text-align: center;
        padding: 12px;
    }
    i{
        font-size: 14px;


    }
    body{
        position: relative;
        background-color: rgba(11, 12, 14, 1);
    }
    /*****************************************************Header************************************************/
    /******************************************header****************************************/
                              /**************navigation**************/
header{
  
    overflow: hidden;

}
.logoweby{
  width: 70px;
  height: 70px;
  vertical-align: middle;
  overflow-y: hidden;
}
                              .nav{
                                background:rgb(219, 219, 219);
                                box-shadow: 2px 1px 10px rgb(141, 141, 141);
                                font-family: 'Architects Daughter', cursive;
                                font-family: 'Kalam', cursive;
                                font-family: 'League Spartan', sans-serif;
                                font-family: 'Merriweather', serif;
                                font-family: 'Rubik', sans-serif;
                                height: 7%;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                position: fixed;
                                top: 0;
                                left: 0;
                                z-index: 1000000000; 
                                width: 100%;
                                overflow-y: hidden;
                              }
                            .nav-block{
                                max-width: 1150px;
                                width: 96%;
                                margin: 0 auto;
                                display: flex;
                                justify-content: space-between;
                                display: flex;
                                justify-content: space-around;
                                align-items: center;
                                
                        
                            }
                            .nav-logo{
                              display: flex;
                              justify-content: center;
                              align-items: center;
                              flex-direction: row;

                            }
                            .nav-logo__title{
                                font-size: 26px;
                                cursor: pointer;
                            }
                            .nav-logo__subtitle{
                                font-size: 22px;
                                
                            }
                            .nav-menu{
                                display: flex;
                                justify-content: space-evenly;
                            }
                            .nav-menu__item{
                                padding-left: 35px;
                                font-size: 22px;
                                cursor: pointer;
                            }
                            .nav-menu__burger{
                                display: none;



                            }
                            .burger{
                                width: 50px;
                                height: 50px;
                                cursor: pointer;

                            }
                                                    /**************************background******************************/
                        
                            :root {
                            --gradient: linear-gradient(155deg, rgb(32, 33, 34),rgb(31, 31, 31),rgb(27, 27, 27),rgb(25, 25, 26),rgb(24, 24, 24),rgb(19, 19, 19),rgb(13, 15, 19),rgb(7, 7, 7),rgb(10, 10, 10),rgb(7, 6, 6),rgb(5, 5, 5),rgb(3, 3, 3),rgb(0, 0, 0),rgb(7, 6, 6));
                          }
                          header {
                            height: 100vh;
                            background-size: 300%;
                            background-image: var(--gradient);
                            animation: bg-animation 60s infinite;
                            background-repeat: no-repeat;  
                            

                          } 
                          @keyframes bg-animation {
                            0% {background-position: left}
                            50% {background-position: right}
                            100% {background-position: left}
                          }
                          .bgc-img {
                            object-fit: contain;
                            width: 100%;
                            height: 100%;
                            --glow-color: rgb(255, 255, 255);
                            --glow-spread-color: rgba(38, 32, 43, 0.781);
                            --enhanced-glow-color: rgb(219, 219, 219);
                            --btn-color: rgb(136, 136, 136);
                            outline: none;
                            border: .25em solid var(--glow-color);
                            color: var(--glow-color);
                            font-size: 15px;
                            background-color: var(--btn-color);
                            outline: none;
                            box-shadow: 0 0 2em .25em var(--glow-color),
                                   0 0 4em 1em var(--glow-spread-color),
                                   inset 0 0 .75em .25em var(--glow-color);
                            position: relative;
                            transition: all 0.3s;
                            animation: glow-animation 10s infinite;
                           }

                           @keyframes glow-animation {
                            0% {box-shadow: 0 0 2em .25em var(--glow-color),
                                0 0 4em 1em var(--glow-spread-color),
                                inset 0 0 .75em .25em var(--glow-color);}
                            50% {box-shadow: 0 0 6em .25em var(--glow-color),
                                0 0 4em 1em var(--glow-spread-color),
                                inset 0 0 .75em .25em var(--glow-color);}
                            100% {box-shadow: 0 0 2em .25em var(--glow-color),
                                0 0 4em 1em var(--glow-spread-color),
                                inset 0 0 .75em .25em var(--glow-color);}
                          }

                           .bgc-img{
                               object-fit: cover;
                               height: 300px;
                               width: 300px;
                               border-radius: 50%;
                               margin: auto ;
                               display: block;
                               margin-top: 250px;
                               text-align: center;
                               margin-bottom: 5%;
                             
                           }
                           
                           .bgc-info__block{
                               display: flex;
                               flex-direction: column;
                               margin: 0 auto;
                               max-width: 200px;
                               align-items: center;
                               vertical-align: center;
                           }
                           .bgc-info__item{
                               font-size: 22px;
                               padding-top: 17px;
                               font-family: 'Architects Daughter', cursive;
                               font-family: 'Kalam', cursive;
                               font-family: 'League Spartan', sans-serif;
                               font-family: 'Merriweather', serif;
                               font-family: 'Rubik', sans-serif;
                               display: none;
                           }






/********************************************************portfolio******************************************************************/

    .portfolio{
        background-color:rgba(11, 12, 14, 1);
        padding-bottom: 300px;
        position: relative;
        z-index: 200;
        color: white;
        padding-top: 200px;
    }
    .portfolio-block{
        display: flex;
        justify-content: center;
        align-items: center;


    }
    .portfolio__text{
        display: none;
        justify-content: center;
        align-items: center;
        flex-direction: column;


    }
    .portfolio-list{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;

    }
    .portfolio__img{
        width: 400px;
        height: 350px;
        image-rendering: optimizeQuality;
        object-fit: cover;
        margin: 50px;
        border-radius: 10%;
        box-shadow:2px 2px 20px white;
        position: relative;
        z-index: 10;
        cursor: pointer;
    }
    /*.portfolio__img:hover{
        box-shadow:1px 1px 10px white;
        cursor: pointer;
    }*/
    .portfolio__img1{
        

    }
    .portfolio__img4{
        display: none;


    }
    .portfolio__img5{
        display: none;

        
    }
    .portfolio__img6{
        display: none;

        
    }
    .port__title{
        padding: 15px;
        font-size: 62px;
        
    
    }
    .portfolio__title{
        margin: 50px;


    }
    .port__subtitle{
        text-align: center;
        font-size: 27px;
        padding: 25px;
      }
    
    .port__text{
        padding: 25px;
        margin: 25px;
        line-height: 1.75;
        letter-spacing: 1.15px;
        word-spacing: 1.55px;
        font-size: 18px;
        text-align: center;
    }
    .portfolio__text{
        width: 800px;
        padding: 25px 0;

    }
    .port__back{
        color:  rgb(219, 219, 219);
        padding: 15px;
        border-radius: 10px;
        border: 1px solid  rgb(219, 219, 219);
        text-align: left;
        font-size: 22px;
        cursor: pointer;
    }
    .port__back:hover{
        transition: .8s;
        background-color: rgb(219, 219, 219);
        color:rgba(11, 12, 14, 1);

    }
    .port__live{
        color: white;
        padding: 15px;
        border-radius: 10px;
        border: 1px solid  rgb(219, 219, 219);
        text-align: right;
        font-size: 22px;
        margin-left: 25px;
    }
    .port__live:hover{
        transition: .8s;
        filter: brightness(30%);

    }
    
    .portfolio__full{
 
        border: 1px solid white;
        border-radius: 40px;
        padding: 10px 10px;
        margin: 0 auto;
        margin: 50px 0;
        text-align: center;
        width: 300px;
        font-size: 22px;
        cursor: pointer;
      }
      .portfolio__full:hover{
        transition: .3s;
        filter: brightness(30%);
        background-color: rgba(0, 0, 0, .5);

      }
      .portfolio__query{
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
      }
      .port__bar{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        margin-top: 50px;

      }
      .portfolio__item{
       
        
       
        
        
        position: relative;
        z-index: 10;
      }
      .status{


      }
      .yes-block{
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 30px;
        left: 30px;
        font-size: 25px;
        z-index: 100000000000;
        border: 1px solid black;
        background-color: rgb;
        border-radius: 50%;
        box-shadow:2px 2px 20px white;
        width: 45px;
        height: 45px;
        cursor: pointer;
      }
      .yes{
        font-size: 25px;
        cursor: pointer;
        

      }
      
      /*.kolo-block{
        padding: 10px;
        border: 1px solid black;
        background-color: black;
        border-radius: 25%;
        
        
      }*/
      .kolo{

        border: 1px solid black;
        
        border-radius: 50%;
        padding: 10px;
        position: absolute;
        top: 30px;
        left: 30px;
        font-size: 25px;
        z-index: 100000000000;
        animation: kolecko 10s infinite;
        padding: 10px;
        box-shadow:2px 2px 20px white;
        cursor: pointer;

      }
      @keyframes kolecko {
        0% {transform: rotate(0deg);}
        50% {transform: rotate(180deg);}
        100% {transform: rotate(360deg);}
      }

      #nav__item4{
        cursor: pointer;
        color: #0087ca;

    }
    #nav__item4:hover{
        filter: brightness(30%);
        transition: .8s;

    }
/********************************************************info*******************************************************************/
.info{
    background-color:rgba(11, 12, 14, 1);
    color:  white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 0;
    padding-bottom: 200px;
}
.info-block{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.info-list{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.info__item{
    padding: 15px 0;
    line-height: 1.55;
    font-size: 18px;

}
.info__item1{
    padding-top: 50px;

    
}
.info__item2{


    
}
.info__item3{


    
}
.info__item4{


    
}





/********************************************************about*******************************************************************/
.about{
    padding-top: 50px;    
    background-color:rgba(11, 12, 14, 1);
    display: flex;
    justify-content: center;
    padding-bottom: 100px;
    color: white;
}
.about-block{


}
.about-list{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 50%;
    width: 50%;
    flex-direction: column;
}
.about-block{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.about__item{
    line-height: 1.55;
    font-size: 18px;

}
.about__title{
    margin: 50px 0;



}
.about__item2{
    margin: 0 auto;
    margin-top: 25%;

}
.about__item2 img{
   height: 800px;

}

/********************************************************promo*******************************************************************/
.promo{
    background-color:rgba(11, 12, 14, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 250px 0;
}
.promo-block{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}
.promo__title{
    font-size: 15px;
    color: #B7B7B7;
    margin: 25px 0;
    text-align: center;
    
}
.promo-list{
    display: flex;
    align-items: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}
.promo__item{
    font-size: 42px;
    letter-spacing: 1.1px;
    margin: 25px 0;
}



/********************************************************footer*******************************************************************/


.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:rgba(11, 12, 14, 1);
    
    color: #B7B7B7;
}
.footer-block{
    padding: 5%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-top: 1px solid #B7B7B7;

}
.footer-list{
    display: flex;
    justify-content:space-between;
    align-items: center;
    

}
.footer__item{
    color: #B7B7B7;
    font-size: 17px;
    margin: 0 25px;
}
.footer__item1{

    
}
.footer__item2{
    display: flex;
    align-items:flex-start;
    justify-content: flex-start;
    flex-direction: column;
}
.footer__item3{
    font-size: 34px;
    
}
.footer__item a{
    color: #B7B7B7;

}
/********************************************************scroll*******************************************************************/
.scroll{
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 100000000000000000000000000000000000000;
    overflow: hidden;
}
.scroll__item1 i:hover{
    transition: .3s;
    color: black;
} 
.scroll__item2 i:hover{
    transition: .3s;
    color: black;
}   
.scroll__item3 i:hover{
    transition: .3s;
    color: black;
}   
.scroll__item4 i:hover{
    transition: .3s;
    color: black;
} 
.scroll__item5 i:hover{
  transition: .3s;
  color: black;
}         
.scroll-block{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;

}
.scroll-list{
    display: none;
    width: 70px;
    justify-content: center;
    align-items: center;
    flex-direction:column-reverse;
    

}
.scroll-query{
    

}
.scroll-menu{
    border: 1px solid #B7B7B7;
    border-radius: 50%;
    cursor: pointer;
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;    
    background-color: #B7B7B7;
    overflow: hidden;
}
.scroll__item{
    padding: 25px 0;
    cursor: pointer;
    overflow: hidden;
}
.scroll__item i{
    padding: 100px 0;
    cursor: pointer;
    overflow: hidden;

}
.tecky{
    font-size: 20px;
    color: white;
   

}
.scroll__item1{
    padding: 0;
    margin: 0;
}
.scroll__item i{
    font-size: 22px;
}
.scroll__item1 i{
  font-size: 50px;
}
.scroll__item2{
    background-color:rgba(183, 183, 183,.1);
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.scroll__item3{
    background-color:rgba(183, 183, 183,.1);
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.scroll__item5{
  background-color:rgba(183, 183, 183,.1);
  width: 70px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.scroll__item4{
    background-color:rgba(183, 183, 183,.1);
    border-radius: 50% 50% 0 0;
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}
.scroll__item4 i{
    padding-top: 50px;
    padding-bottom: 50px;
}
/********************************************************modal*******************************************************************/


.modal{
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .97);
    z-index: 100000000000000000000000000;
    color: white;


}
.modal-block{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.modal-list{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 30px;
    width: 50%;
    height: 50%;
    position: relative;
}
.cross{
    position: absolute;
    top: 0;
    right: 0;
    font-size: 50px;
    color: white;
    z-index: 1000;
    cursor: pointer;
 
}
.modal__title{
    padding: 50px 0;


}
.modal__item{
    padding: 25px 0;
    font-size:27px;
    cursor: pointer;
}
.modal__item1{

    
}
.modal__item2{

    
}
.modal__item3{

    
}
.eng{
  width: 100%;  
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, .87);
  z-index: 1000000000000000000000000;
  display: none;

}
.eng-block{
  display: flex;
  justify-content: center;
  align-items: center;


}
.eng-list{
display: flex;
justify-content: center;
align-items: center;


}
.eng__item{
  margin-left: 50px;


}
.eng__item a{
  font-size: 52px;
  color: white;
}
.eng__item div{
  font-size: 52px;
  color: white;
}
.eng__item a:hover{
  transition: .5s;
  font-size: 57px;
  cursor: pointer;
  color: #B7B7B7;


}
.eng__item div:hover{
  transition: .5s;
  font-size: 57px;
  cursor: pointer;
  color: #B7B7B7;


}

/********************************************************responzivita*******************************************************************/

@media screen and (max-width:1300px) {
	.about__item2 img {
        height: 600px;
      }
      .footer__item {
        color: #B7B7B7;
        font-size: 14px;
        margin: 0 25px;
      }
      .footer__item3 {
        font-size: 28px;
      }
	
}

@media screen and (max-width:1050px) {
	.footer__item {
        color: #B7B7B7;
        font-size: 12px;
        margin: 0 25px;
      }
      .footer__item3 {
        font-size: 24px;
      }
	
}
@media screen and (max-width:1000px) {
	.about__item2 img {
        height: 500px;
      }
      .burger {
        width: 45px;
        height: 45px;
        cursor: pointer;
      }
      




}
@media screen and (max-width:900px) {
	.footer__item {
        color: #B7B7B7;
        font-size: 12px;
        margin: 0 15px;
      }
      .footer__item3 {
        font-size: 24px;
      }

}
@media screen and (max-width:850px) {
	.footer__item {
        color: #B7B7B7;
        font-size: 10px;
        margin: 0 5px;
      }
      .footer__item3 {
        font-size: 14px;
      }
      .info__item {
        padding: 15px 0;
          padding-top: 15px;
        line-height: 1.55;
        font-size: 16px;
      }
      .about__item {
        line-height: 1.55;
        font-size: 16px;
      }
      .about__item2 img {
        height: 400px;
      }
      .footer-block {
        padding: 5%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        border-top: 1px solid #B7B7B7;
      }
      .port__text {
        padding: 25px;
        margin: 25px;
        line-height: 1.75;
        letter-spacing: 1.15px;
        word-spacing: 1.55px;
        font-size: 15px;
        text-align: center;
      }

      .port__text {
        padding: 25px;
        margin: 25px;
        line-height: 1.75;
        letter-spacing: 1.15px;
        word-spacing: 1.55px;
        font-size: 15px;
        text-align: center;
        width: 600px;
      }
      





}
@media screen and (max-width:840px) and (orientation: portrait) {
	

}
@media screen and (max-width:700px) {
	.info__item {
        padding: 15px 0;
          padding-top: 15px;
        line-height: 1.55;
        font-size: 14px;
      }
      .about__item {
        line-height: 1.55;
        font-size: 14px;
      }
      .nav-logo__title {
        font-size: 22px;
        cursor: pointer;
      }
      .port__text {
        padding: 25px;
        margin: 25px;
        line-height: 1.8;
        letter-spacing: 1.15px;
        word-spacing: 1.55px;
        font-size: 12px;
        text-align: center;
        width: 550px;
        

      }
}
@media screen and (max-width:600px) {
	.about__item2 img {
        height: 300px;
      }
      .footer__item {
        color: #B7B7B7;
        font-size: 7px;
        margin: 0 2px;
      }
      .footer__item3 {
        font-size: 12px;
      }
      .footer-block {
        padding: 5%;
        display: flex;
        justify-content: center;
        align-items: center;
        border-top: 1px solid #B7B7B7;
    
      }
      .portfolio__img{
        width: 300px;
        height: 250px;
        image-rendering: optimizeQuality;
        object-fit: cover;
        margin: 50px;
        border-radius: 10%;
        box-shadow:2px 2px 20px white;
        position: relative;
        z-index: 10;
        cursor: pointer;
    }
    .burger {
        width: 40px;
        height: 40px;
        cursor: pointer;
      }
      .nav-logo__title {
        font-size: 20px;
        cursor: pointer;
      }
      .footer__item {
        color: #B7B7B7;
        font-size: 12px;
        margin: 0 2px;
      }
      .footer-list {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
      }
      .footer__item {
        color: #B7B7B7;
        font-size: 18px;
        margin: 10px 5px;
        width: 100%;
        text-align: center;
      }
      .footer__item a {
        color: #B7B7B7;
        font-size: 18px;
        margin: 10px 5px;
        width: 100%;
        text-align: center;
      }
      .footer__item3 {
        font-size: 24px;
      }
      .port__text {
        padding: 25px;
        margin: 25px;
        line-height: 1.75;
        letter-spacing: 1.2px;
        word-spacing: 1.6px;
        font-size: 16px;
        text-align: center;
        width: 500px;
      }
}
@media screen and (max-width:500px) {
	.info__item {
        padding: 15px 0;
          padding-top: 15px;
        line-height: 1.55;
        font-size: 12px;
      }
      .about__item {
        line-height: 1.55;
        font-size: 12px;
      }
      .about__item2 img {
        height: 300px;
      }
      .portfolio__img{
        width: 200px;
        height: 150px;
        image-rendering: optimizeQuality;
        object-fit: cover;
        margin: 50px;
        border-radius: 10%;
        box-shadow:2px 2px 20px white;
        position: relative;
        z-index: 10;
        cursor: pointer;
    }
    .promo__item {
        font-size: 35px;
        letter-spacing: 1.1px;
        margin: 25px 0;
      }
      .promo{
        padding: 150px 0;

      }
      .scroll-menu {
        border: 1px solid #B7B7B7;
        border-radius: 50%;
        cursor: pointer;
        width: 50px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #B7B7B7;
        overflow: hidden;
      }
      .scroll__item2{
        background-color:rgba(183, 183, 183,.1);
        width: 50px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        
    }
    .scroll__item3{
        background-color:rgba(183, 183, 183,.1);
        width: 50px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .scroll__item4{
        background-color:rgba(183, 183, 183,.1);
        border-radius: 50% 50% 0 0;
        width: 50px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
    }
    .scroll__item4 i{
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .scroll-list{
        display: none;
        width: 50px;
        justify-content: center;
        align-items: center;
        flex-direction:column-reverse;
        
    
    }
    h3 {
        font-family: 'Architects Daughter', cursive;
        font-family: 'Rubik', sans-serif;
        font-size: 35px;
        font-weight: bold;
        color: white;
        letter-spacing: 1.3px;
        word-spacing: 1.6px;
        text-align: center;
        padding: 12px;
      }
      .portfolio {
        background-color: rgba(11, 12, 14, 1);
        padding-bottom: 100px;
        position: relative;
        z-index: 200;
        color: white;
        padding-top: 100px;
      }
      .info {
        background-color: rgba(11, 12, 14, 1);
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 50px 0;
          padding-bottom: 50px;
        padding-bottom: 50px;
      }
      .port__text {
        padding: 25px;
        margin: 25px;
        line-height: 1.75;
        letter-spacing: 1.15px;
        word-spacing: 1.55px;
        font-size: 18px;
        text-align: center;
        width: 450px;
      }
      .port__live {
        color: white;
        padding: 12px;
        border-radius: 10px;
        border: 1px solid rgb(219, 219, 219);
        text-align: right;
        font-size: 18px;
        margin-left: 25px;
      }
      .port__back {
        color: rgb(219, 219, 219);
        padding: 12px;
        border-radius: 10px;
        border: 1px solid rgb(219, 219, 219);
        text-align: left;
        font-size: 18px;
        cursor: pointer;
      }


}
@media screen and (max-width:400px) {
    .about__item2 img {
        height: 250px;
      }
      .burger {
        width: 35px;
        height: 35px;
        cursor: pointer;
      }
      .portfolio {
        background-color: rgba(11, 12, 14, 1);
        padding-bottom:50px;
        position: relative;
        z-index: 200;
        color: white;
        padding-top: 50px;
      }
      .footer__item {
        color: #B7B7B7;
        font-size: 10px;
        margin: 0 5px;
      }
      .footer__item a {
        color: #B7B7B7;
        font-size: 10px;
        margin: 0 2px;
      }
      .port__text {
        padding: 25px;
        margin: 25px;
        line-height: 1.75;
        letter-spacing: 1.15px;
        word-spacing: 1.55px;
        font-size: 16px;
        text-align: center;
        width: 350px;
      }
}
@media screen and (max-width:350px) {
	.info__item {
        padding: 15px 0;
        padding-top: 15px;
        line-height: 1.55;
        font-size: 8px;
        word-spacing: 1.3px;
      }
      .about__item {
        line-height: 1.55;
        font-size: 8px;
        word-spacing: 1.3px;
      }
      .about__item2 img {
        height: 200px;
      }
      .portfolio__img{
        width: 150px;
        height: 100px;
        image-rendering: optimizeQuality;
        object-fit: cover;
        margin: 50px;
        border-radius: 10%;
        box-shadow:2px 2px 20px white;
        position: relative;
        z-index: 10;
        cursor: pointer;
    }
    .promo__item {
        font-size: 25px;
        letter-spacing: 1.1px;
        margin: 25px 0;
      }
      .promo{
        padding: 100px 0;

      }
      .scroll-menu {
        border: 1px solid #B7B7B7;
        border-radius: 50%;
        cursor: pointer;
        width: 30px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #B7B7B7;
        overflow: hidden;
      }
      .scroll__item2{
        background-color:rgba(183, 183, 183,.1);
        width: 30px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        
    }
    .scroll__item3{
        background-color:rgba(183, 183, 183,.1);
        width: 30px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .scroll__item4{
        background-color:rgba(183, 183, 183,.1);
        border-radius: 50% 50% 0 0;
        width: 30px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
    }
    .scroll__item4 i{
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .tecky{
        font-size: 20px;
        color: white;
       
    
    }
    .scroll__item1 i {
        font-size: 20px;
      }
      .scroll-list{
        display: none;
        width: 30px;
        justify-content: center;
        align-items: center;
        flex-direction:column-reverse;
        
    
    }
    .nav-logo__title {
        font-size: 18px;
        cursor: pointer;
      }
      .port__text {
        padding: 25px;
        margin: 25px;
        line-height: 1.75;
        letter-spacing: 1.15px;
        word-spacing: 1.55px;
        font-size: 14px;
        text-align: center;
        width: 300px;
      }
      .port__live {
        color: white;
        padding: 10px;
        border-radius: 10px;
        border: 1px solid rgb(219, 219, 219);
        text-align: right;
        font-size: 16px;
        margin-left: 25px;
      }
      .port__back {
        color: rgb(219, 219, 219);
        padding: 10px;
        border-radius: 10px;
        border: 1px solid rgb(219, 219, 219);
        text-align: left;
        font-size: 16px;
        cursor: pointer;
      }
}
@media screen and (max-width:300px) {
	.info__item {
        padding: 15px 0;
          padding-top: 15px;
        line-height: 1.55;
        font-size: 10px;
      }
      .about__item {
        line-height: 1.55;
        font-size: 10px;
      }
      .about__item2 img {
        height: 200px;
      }
      .promo__item {
        font-size: 15px;
        letter-spacing: 1.1px;
        margin: 25px 0;
      }
      .promo{
        padding: 50px 0;

      }
      h3 {
        font-family: 'Architects Daughter', cursive;
        font-family: 'Rubik', sans-serif;
        font-size: 25px;
        font-weight: bold;
        color: white;
        letter-spacing: 1.3px;
        word-spacing: 1.6px;
        text-align: center;
        padding: 12px;
      }
      .nav-logo__title {
        font-size: 16px;
        cursor: pointer;
      }
      .footer__item {
        color: #B7B7B7;
        font-size: 8px;
        margin: 0 5px;
      }
      .footer__item a{
        color: #B7B7B7;
        font-size: 8px;
        margin: 0 2px;
      }
      .port__text {
        padding: 25px;
        margin: 25px;
        line-height: 1.7;
        letter-spacing: 1.15px;
        word-spacing: 1.55px;
        font-size: 12px;
        text-align: center;
        width: 250px;
      }
      .port__live {
        color: white;
        padding: 8px;
        border-radius: 10px;
        border: 1px solid rgb(219, 219, 219);
        text-align: right;
        font-size: 14px;
        margin-left: 25px;
      }
      .port__back {
        color: rgb(219, 219, 219);
        padding: 8px;
        border-radius: 10px;
        border: 1px solid rgb(219, 219, 219);
        text-align: left;
        font-size: 14px;
        cursor: pointer;
      }
}
@media screen and (max-width:250px) {
    .about__item2 img {
        height: 150px;
      }
      .nav-logo__title {
        font-size: 14px;
        cursor: pointer;
      }
}
@media screen and (max-height:700px) {
    .bgc-img {
        object-fit: cover;
        height: 250px;
        width: 250px;
        border-radius: 50%;
        margin: auto;
          margin-top: auto;
          margin-bottom: auto;
        display: block;
        margin-top: 200px;
        text-align: center;
        margin-bottom: 0%;
      }
      .logoweby{
        width: 50px;
        height: 50px;
        vertical-align: middle;
        overflow-y: hidden;
      }
      
}
@media screen and (max-height:600px) {
    .bgc-img {
        object-fit: cover;
        height: 200px;
        width: 200px;
        border-radius: 50%;
        margin: auto;
          margin-top: auto;
          margin-bottom: auto;
        display: block;
        margin-top: 150px;
        text-align: center;
        margin-bottom: 0%;
      }
      .bgc__title {
        font-family: 'Architects Daughter', cursive;
        font-family: 'Rubik', sans-serif;
        font-size: 30px;
        font-weight: bold;
        color: white;
        letter-spacing: 1.3px;
        word-spacing: 1.6px;
        text-align: center;
        padding: 12px;
      }
      .modal__item {
        padding: 20px 0;
        font-size: 25px;
        cursor: pointer;
      }
      .logoweby{
        width: 45px;
        height: 45px;
        vertical-align: middle;
        overflow-y: hidden;
      }
    }
      @media screen and (max-height:500px) {
        .bgc-img {
            object-fit: cover;
            height: 200px;
            width: 200px;
            border-radius: 50%;
            margin: auto;
              margin-top: auto;
              margin-bottom: auto;
            display: block;
            margin-top: 150px;
            text-align: center;
            margin-bottom: 0%;
          }
          .bgc__title {
            font-family: 'Architects Daughter', cursive;
            font-family: 'Rubik', sans-serif;
            font-size: 20px;
            font-weight: bold;
            color: white;
            letter-spacing: 1.3px;
            word-spacing: 1.6px;
            text-align: center;
            padding: 12px;
          }
          .logoweby{
            width: 40px;
            height: 40px;
            vertical-align: middle;
            overflow-y: hidden;
          }
        }
          @media screen and (max-height:400px) {
        .bgc-img {
            object-fit: cover;
            height: 150px;
            width: 150px;
            border-radius: 50%;
            margin: auto;
              margin-top: auto;
              margin-bottom: auto;
            display: block;
            margin-top: 100px;
            text-align: center;
            margin-bottom: 0%;
          }
          .bgc__title {
            font-family: 'Architects Daughter', cursive;
            font-family: 'Rubik', sans-serif;
            font-size: 20px;
            font-weight: bold;
            color: white;
            letter-spacing: 1.3px;
            word-spacing: 1.6px;
            text-align: center;
            padding: 12px;
          }
          .modal__item {
            padding: 15px 0;
            font-size: 20px;
            cursor: pointer;
          }
          .logoweby{
            width: 42px;
            height: 42px;
            vertical-align: middle;
            overflow-y: hidden;
          }
}
@media screen and (max-height:300px) {
    .bgc-img {
        object-fit: cover;
        height: 125px;
        width: 125px;
        border-radius: 50%;
        margin: auto;
          margin-top: auto;
          margin-bottom: auto;
        display: block;
        margin-top: 80px;
        text-align: center;
        margin-bottom: 0%;
      }
      .bgc__title {
        font-family: 'Architects Daughter', cursive;
        font-family: 'Rubik', sans-serif;
        font-size: 20px;
        font-weight: bold;
        color: white;
        letter-spacing: 1.3px;
        word-spacing: 1.6px;
        text-align: center;
        padding: 12px;
      }
      .logoweby{
        width: 35px;
        height: 35px;
        vertical-align: middle;
        overflow-y: hidden;
      }

    }
.auto-type{
  color: red;


}








